@-webkit-keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

body {
  font-size: 0.9rem;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #fff;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

/*----------------show sidebar button----------------*/

#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
  left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
  border-right: 1px solid #e6e6e6;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px 0px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 16px;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 50px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  -webkit-animation: swing ease-in-out 0.5s 1 alternate;
          animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: sonar 1.5s infinite;
          animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: #fff;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  cursor: pointer;
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
  cursor: pointer;
  color: #696969;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role .fa,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status .fa,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu .fa,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text .fa,
.chiller-theme .sidebar-wrapper .sidebar-brand > a .fa,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a .fa,
.chiller-theme .sidebar-footer > a .fa {
  color: #696969 !important;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role .far,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status .far,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu .far,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text .far,
.chiller-theme .sidebar-wrapper .sidebar-brand > a .far,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a .far,
.chiller-theme .sidebar-footer > a .far {
  color: #696969 !important;
}

.sidebar-submenu ul li a {
  color: #000 !important;
}

.sidebar-submenu ul {
  list-style: none;
}

.sidebar-submenu ul li {
  background-color: #f8f8f8;
}

.sidebar-submenu ul li:hover {
  background-color: #f2f2f2;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
.chiller-theme .sidebar-footer > a:hover i {
  color: #000;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #696969;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #000;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #3097D1;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: transparent;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #696969;
}

.chiller-theme .sidebar-footer {
  background: #f2f2f2;
  border-top: 1px solid #d9d9d9;
}

.chiller-theme .sidebar-footer > a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer > a:last-child {
  border-right: none;
}

/* 
  ##Device = Mobiles
*/

@media (max-width: 767px) {
  .m-center {
    text-align: center;
  }

  .custom-table .body .row {
    border-top: 1px solid #bdbdbd;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

body {
  background-color: #f5f8fa;
}

#app {
  background-color: #f5f8fa;
}

.bottom-space {
  margin-bottom: 10px;
}

.full {
  width: 100% !important;
}

.light {
  color: #f8f8f8 !important;
}

.btn-payment {
  margin-bottom: 10px;
}

.avatar {
  max-width: 30px;
  max-height: 30px;
}

.detail {
  padding-top: 10px;
  padding-bottom: 10px;
}

.detail .label {
  font-weight: bold;
}

.toggle-margin {
  margin-top: 10px;
}

.help {
  font-size: 8pt;
  color: #696969;
}

/* Button Style */

.btn,
.form-control {
  border-radius: 15px;
}

.btn-default {
  background-color: #009cbf !important;
  color: #f8f8f8;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #00728c;
  color: white;
}

.btn-outline-default {
  border: 1px solid #009cbf !important;
  color: #009cbf;
}

.btn-outline-default:hover,
.btn-outline-default:active,
.btn-outline-default:focus {
  background-color: #00728c;
  color: white;
}

.btn-login {
  width: 100%;
  height: 40px;
}

/* Button Style */

/* Default Link Style */

.link {
  cursor: pointer;
  color: #696969;
}

.link:hover {
  text-decoration: underline;
  color: #504f4f;
}

a {
  color: #696969;
}

a:hover {
  color: #504f4f;
}

/* Default Link Style */

.today-earn {
  text-align: center;
  margin-bottom: 20px;
}

.no-pad {
  padding: 0px !important;
}

.box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
}

.box .page-title {
  font-size: 14pt;
  font-weight: lighter;
  margin-bottom: 10px;
}

.custom-table {
  font-size: 9pt !important;
}

.custom-table .header {
  font-weight: bold;
}

.custom-table .body .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-table .body .row .no-pad {
  word-wrap: break-word;
  padding: 5px !important;
}

.d-total {
  margin-bottom: 20px;
}

.d-total .title {
  color: #636262;
  font-size: 10pt;
  text-align: center;
}

.d-total .value {
  color: #252525;
  font-weight: bold;
  font-size: 18pt;
  text-align: center;
}

.d-content {
  margin-bottom: 20px;
}

.d-content .title {
  margin-top: -10px;
  margin-left: -5px;
  font-weight: bold;
}

.d-content .title i {
  font-size: 8pt;
}

.orders li {
  font-size: 8pt;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.orders li .total-item {
  color: #696969;
}

.orders li .price {
  text-align: right;
  color: #1ea019;
}

.orders li .time {
  text-align: right;
}

/* Image Particular size class */

.small {
  max-width: 100px;
  max-height: 100px;
}

.medium {
  max-width: 200px;
  max-height: 200px;
}

.large {
  max-width: 300px;
  max-height: 300px;
}

/* Image Particular size class */

.a-right {
  text-align: right;
}

.page-actions {
  margin-bottom: 10px;
}

.login-box {
  margin-top: 0px;
  margin-bottom: 50px;
}

.login-box .title {
  text-align: center;
  margin-bottom: 10px;
}

.horizon-menu {
  list-style: none;
  padding: 0px;
}

.horizon-menu li {
  margin-top: 5px;
  float: right;
}

.horizon-menu li a {
  cursor: pointer;
  padding: 5px;
}

.product {
  cursor: pointer;
  padding: 5px;
  border: 0px solid #d6d6d6;
  border-radius: 1px;
}

.product .product-img {
  text-align: center;
}

.product .name {
  margin-top: 5px;
  font-size: 9pt;
  font-weight: bold;
}

.product .desc {
  font-size: 8pt;
  color: #535252;
}

.product .price {
  text-align: right;
  font-size: 10pt;
  font-weight: lighter;
}

.product:hover {
  background-color: #f2f2f2;
}

.out-of-stock {
  background-color: #f2f2f2;
  opacity: 0.6;
}

.cost {
  font-size: 8pt;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.cost .quantity {
  width: 50px !important;
}

.total-cost {
  font-size: 8pt;
  color: #252525;
  font-weight: bold;
  margin-top: 10px;
}

.total-cost .value {
  font-weight: lighter;
}

.total-payment {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
  margin-top: 20px;
  font-size: 10pt;
  border-radius: 10px;
}

.product_categories {
  list-style: none;
  padding: 0px;
  font-size: 10pt;
}

.product_categories li {
  margin-bottom: 5px;
  float: left;
  cursor: pointer;
  padding: 5px;
  background-color: #009cbf;
  margin-right: 5px;
  color: #f8f8f8;
  border-radius: 5px;
}

.product_categories li:hover {
  background-color: #00728c;
}

